@keyframes scale_animation {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

.scale__animation {
    animation-duration: calc(var(--bounce__delay) * 1ms);
    animation-name: scale_animation !important;
    border-color: var(--accent);
}

@keyframes flip__animation {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.flip__animation {
    transform-style: preserve-3d;
    transform-origin: center;
    animation-name: flip__animation;
    animation-duration: calc(var(--flip__delay) * 1ms);
    border-color: var(--accent);
}


.yellow {
    background-color: var(--yellow) !important;
}

.green {
    background-color: var(--green) !important;
}

.gray {
    background-color: var(--gray) !important;
}