header {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    height: 50px;
}

header hr {
    width: 100%;
}

#header__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header button {
    list-style: none;
    background-color: var(--primary);
    border-style: none;
    border-radius: 10px;
    margin: 0.5em;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    background-position: center;
    cursor: pointer;
    user-select: none;
}

#header__buttons button:nth-of-type(3) {
    margin-left: auto !important;
    margin-right: auto !important;
}

.liveset {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 1;
}

.modals {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: var(--background);
    margin: 5% auto;
    padding: 20px;
    color: gainsboro;
    max-width: 500px;
    width: 100%;
    z-index: 2;
}


.modal-content hr {
    border: 1px solid rgb(58, 58, 60);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(236, 57, 57, 0.943);
    text-decoration: none;
    cursor: pointer;
}

.modals [id^=modal__] {
    display: none;
    height: 90%;
}

#examples {
    width: 100%;
    overflow: auto;
}

[class^=toggle__] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

[class^=toggle__]+hr {
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
    header {
        height: fit-content;
        width: 90%;
        margin: 0;
    }

    .liveset {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    header {
        width: 100%;
    }
}

.material-symbols-outlined {
    color: var(--foreground);
}