@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Open+Sans:300,400,600,700&display=swap&subset=cyrillic,cyrillic-ext);

:root {
    --font_family: 'Montserrat', 'Open Sans', sans-serif;
    --bounce__delay: 200;
    --flip__delay: 200;
    --box_border_raduis: 10px;
    --primary: #f0e08d;
    --secondary: #24cd62;
    --tertiary: #f0ead1;
    --background: #fff;
    --foreground: #6849d8;
    --accent: #7f5239;
    --green: #56AD49;
    --yellow: #EBCD41;
    --gray: #e3dedd;
}

:root.darkmode {
    --background: #33200B;
    --primary: #f0e08d;
    --secondary: #2c650c;
    --tertiary: #674a2c;
    --foreground: #915A20;
    --accent: #6F4518;
    --green: darkgreen;
    --yellow: rgb(204, 204, 20);
    --gray: darkgray;
}

* {
    font-family: var(--font_family);
    color: var(--foreground);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
}

html {
    background-color: var(--background);
    height: 100%;
}

body {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0px 20% 0px 20%;
}


.text__messagebox {
    position: absolute;
    top: 20%;
    background: var(--secondary);
    text-align: center;
    width: 40%;
    padding: 50px;
    z-index: 3;
}

footer {
    position: absolute;
    bottom: 5px;
}


@media screen and (max-width: 800px) {
    .text__messagebox {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    body {
        padding: 0;
    }
}